body {
    background-color: rgb(0, 0, 0);
    text-align: center;
  }
  #Jeu {
    display: inline-block;
    background-color: rgb(218, 117, 28);
    margin: 0 auto;
    padding: 10px;
    border-radius: 10%;

  }
  
  #Jeu div {
    margin: 0 auto;
    overflow: hidden;
  }
  
  #Jeu button {
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 40px;
    margin: 5px;
    float:left;
    border-radius: 50%;
    border-style: none;
  }
  #StatutJeu {
    color: black;
    background: #eee;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 10%;
  }
